.locked_overlay {
  position: absolute;
  width: 100%;
  height: 175px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  font-size: 18;
}

.time_deal {
  position: relative;
}

.time_deal_title_before_open {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 16px 16px 12px 16px;
  font-size: 20px;
  height: 57px;
  font-weight: 700;
}

.time_deal_title_after_open {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 16px 16px 12px 16px;
  font-size: 16px;
  height: 39px;
  font-weight: 700;
  border-bottom: var(--img-border-width) solid var(--img-border-color);
}

.time_deal_title_after_open span {
  position: relative;
}

.time_deal_title_after_open span::after {
  content: "";
  position: absolute;
  bottom: -8.5px; /* span 태그의 맨 아래쪽에 위치 */
  left: 0;
  width: 100%; /* span 태그의 너비에 맞추기 */
  height: 2px; /* 밑줄 두께 */
  background-color: black; /* 밑줄 색상 */
  transform: scaleX(0); /* 초기 상태에서는 보이지 않게 설정 */
  transition: transform 0.3s ease; /* 애니메이션 효과 */
}

.click::after {
  transform: scaleX(1) !important; /* 마우스 오버 시 밑줄이 나타나도록 설정 */
}

.time_deal_container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 12px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
  width: 100%;
}

.time_deal_item {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 175px;
  gap: 6px;
}

.time_deal_item_title {
  padding-top: 4px;
  font-size: 16px;
  word-break: break-word;
  height: 44px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card_img {
  width: 100%;
  height: 175px;
  object-fit: cover;
  border-radius: 10px;
}

.original_price {
  font-size: 16px;
  color: var(--sub-font-color);
  text-decoration: line-through;
}

.price_wrap {
  margin-top: 4px;
  font-weight: bold;
}

.discount_rate {
  color: var(--highlight-font-color);
}

.discount_price {
  margin-left: 4px;
}

/* fade-in 애니메이션 */
.fade {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
